.home-header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
    overflow: hidden;
    text-align: center;
    
}

.contact-header{
    background-image: url(../img/contactUs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
    overflow: hidden;
    text-align: center;
}

.menu-header{
    background-image: url(../img/menu1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
    padding-top: 0px;
    overflow: hidden;
    text-align: center;
}

.nav-bar{
    padding-top: 20px;
    text-align: right;
    text-decoration: none;
    right: 0;
    left: 0;
    
}


li {
    list-style-type: none;
    display: inline-block;
}

li>a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: red;
    font-family: 'syncopate';
    background-color: inherit;
}

li>a:hover {
    box-shadow: 0 0 40px grey;
    color: #E6B0AA;
    text-decoration: none;
}

h1 {
    letter-spacing: 8px;
    color: red;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'permanent marker';
    
    text-shadow: 2px 2px 5px rgb(8, 156, 5);
}
h2 {
    letter-spacing: 6px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'montserrat';
    
}
.par4{
    font-family: 'pacifico';
}

h3 {
    letter-spacing: 7px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'montserrat';
    color: white;
}

h4 {
    letter-spacing: 6px;
    color: white;
    font-weight: bold;
    font-family: 'montserrat';
    
}
.btn a{
    color: black;
    font-family: 'pacifico';
    font-size: 17px;
}